services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      REACT_APP_SERVER_URL: http://localhost:3001
    depends_on:
      - server
    networks:
      - app-network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DB_USER: 66j1948_db_user
      DB_PASSWORD: 66j1948
      DB_NAME: Health_guide
networks:
  app-network:
    driver: bridge
